

<Form [formGroup]="calculoForm" >
    <mat-form-field class="m-3 ">
        <mat-label>Divisa de origen</mat-label>
            <mat-select formControlName="currencyFron" [(value)]="selectedorigen">
                <mat-option  *ngFor="let moneda of monedas" [value]="moneda.abreviatura">{{moneda.nombreCompleto}}</mat-option>
            </mat-select>
            
    </mat-form-field>
    <mat-form-field class="m-3 ">
        <mat-label>Divisa de destino</mat-label>
            <mat-select formControlName="currenyTo" [(value)]="selecteddestino">
                <mat-option  *ngFor="let moneda of monedas" [value]="moneda.abreviatura">{{moneda.nombreCompleto}}</mat-option>
            </mat-select>
    </mat-form-field>
    
    <div class="form-floating mb-3 m-3 ">
      <input formControlName="amount" type="number" class="form-control text-capitalize " id="amount" placeholder="monto a cambiar">
      <label for="floatingInput">Monto a cambiar</label>
    </div>
    <div class="text-center mt-4  ">
        <button mat-raised-button type="submit" (click)="calculator()" color="primary">calcular</button>
    </div>
</Form>   
<p class="text-white" >Ustes a Convertido {{amountInicial}} {{currencyFromResponse}}</p>
<p class="text-white ">A {{result}} {{currencyToResponse}} </p>
<p class="text-white  ">calculado a una tasa de {{exchangeRateAply}} - {{currencyFromResponse}} por cada {{currencyToResponse}}</p>


