<body>
    <div class="container-fluid ">
        <div class="row p3 bg-secondary text-white ">
            
            <div class="col-xs-12 col-md-6 col-lg-5" >
               <p >Reto tecnico</p> 
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 ">
                <p>BancoBrando</p>
            </div>
            <div class="col-xs-12 col-md-6  col-lg-3 ">
                <p>Contacto :</p>
                <div>
                    <a class="text-decoration-none text-white  " href="#">Github</a>
                </div>
            </div>
            <div>
                <p class="text-white  text-center ">todos los Derechso reservados</p>
                
            </div>
        </div>
        

    </div>
</body>
